# Cloudflare R2 Storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=brevitest-cv
R2_PUBLIC_URL=https://brevitest-cv.7bd6a45ccebc81a14aeac4cdc97030d5.r2.dev

# CV Worker Service
CV_WORKER_URL=http://localhost:8000
